
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    text-shadow: 0px 0px 10px rgb(239, 164, 35),
        0px 0px 20px rgb(239, 164, 35);
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.833);
}

h2:hover {

    text-shadow: 0px 0px 10px rgb(255, 255, 255),
        0px 0px 20px rgb(254, 254, 254);
    transition: all ease-in-out 0.5s;
}
.container{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgba(0, 0, 0, 0.685);
    padding: 20px;
    
}
.left{
    width: 45%;
    padding: 20px;
    /* background-color: aqua; */
    height: 400px;
}
.right{
    width: 45%;
    height: 400px;
    padding: 20px;
    /* background: pink; */
}
label{
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
input[type=range]{
    width: 100%;

}
.val{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
}
.results{
    margin-top: 20px;
}
.results p{
    margin: 5px 0;
    font-size: 14px;


}




